.tablehead{
    color: #696A6E;
    background-color: #F7F8FA;
    font-size: 12px;
    font-weight: 500;
    font-family: 'Inter',sans-serif;
}
body{
    font-family: 'Inter',sans-serif;
}
.namefield{
    color: #224DFF;
    font-family: 'Inter',sans-serif;
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
}
.datafield{
    font-family: 'Inter',sans-serif;
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;

color: #2C2C2E;
}